 .top-navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }
  
  .navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
.user-info a {
  cursor:pointer;
  color: #fff;
  text-decoration: none;
}

  .user-info span {
    margin-right: 10px;
  }

 /* Style for the hamburger menu icon */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

@media (max-width: 604px) {
  .menu-toggle {
    display: block;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
  }

  .navigation.active {
    display: flex;
  }
}

@media (max-width: 796px){
  .navigation ul li{
   font-size: 14px;
  }

  .user-info{
    font-size: 14px;
  }
}