<app-navbar></app-navbar>
<div class="container">
  <h2>Edit Shifts</h2>
  <form [formGroup]="editShiftAdminForm" (ngSubmit)="editShiftAdmin()" novalidate>
<!-- <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" />
      <div *ngIf="editShiftAdminForm.get('lastName')?.hasError('required') && editShiftAdminForm.get('lastName')?.touched" class="error-message">
        Last Name is required
      </div>
      <div *ngIf="editShiftAdminForm.get('lastName')?.hasError('minlength') && editShiftAdminForm.get('lastName')?.touched" class="error-message">
        Last Name must be at least 2 characters long
      </div>
    </div>     -->

<div class="form-group">
      <label for="dateShift">Date:</label>
      <input type="date" id="dateShift" formControlName="dateShift" required>
      <div *ngIf="editShiftAdminForm.get('dateShift')?.hasError('required') && editShiftAdminForm.get('dateShift')?.touched" class="error-message">
        Date is required.
      </div>
    </div>

    <div class="form-group">
      <label for="startTime">Start Time:</label>
      <input type="time" id="startTime" formControlName="startTime" required>
      <div *ngIf="editShiftAdminForm.get('startTime')?.hasError('required') && editShiftAdminForm.get('startTime')?.touched" class="error-message">
        Start Time is required.
      </div>
    </div>

    <div class="form-group">
      <label for="endTime">End Time:</label>
      <input type="time" id="endTime" formControlName="endTime" required>
      <div *ngIf="editShiftAdminForm.get('endTime')?.hasError('required') && editShiftAdminForm.get('endTime')?.touched" class="error-message">
        End Time is required.
      </div>
      <div *ngIf="editShiftAdminForm.hasError('endTimeBeforeStartTime') && editShiftAdminForm.get('endTime')?.touched" class="error-message">
        End Time cannot be earlier than Start Time.
      </div>
      
    </div>    
    

    <div class="form-group">
      <label for="hourlyWage">Hourly Wage:</label>
      <input type="number" id="hourlyWage" formControlName="hourlyWage" required>
      <div *ngIf="editShiftAdminForm.get('hourlyWage')?.hasError('required') && editShiftAdminForm.get('hourlyWage')?.touched" class="error-message">
        Hourly Wage is required.
      </div>
    </div>

    <div class="form-group">
      <label for="workPlace">Shift Place:</label>
      <select id="workplace" formControlName="workPlace" required>
        <option>Office</option>
        <option>Home</option>
        <option>On Site</option>
      </select>
      <div *ngIf="editShiftAdminForm.get('workPlace')?.hasError('required') && editShiftAdminForm.get('workPlace')?.touched" class="error-message">
        Shift Place is required.
      </div>
    </div>

    <div class="form-group">
      <label for="shiftName">Shift Name:</label>
      <input type="text" id="shiftName" formControlName="shiftName" required>
      <div *ngIf="editShiftAdminForm.get('shiftName')?.hasError('required') && editShiftAdminForm.get('shiftName')?.touched" class="error-message">
        Shift Name is required.
      </div>
      <div *ngIf="editShiftAdminForm.get('shiftName')?.hasError('nameExists')" class="error-message">
        Shift name already exists!
      </div>
      
    </div>

    <div class="form-group">
      <label for="Comments">Comments:</label>
      <textarea id="comments" formControlName="Comments"></textarea>
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="editShiftAdminForm.invalid">Save</button>
      <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>

